@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&family=Rubik:wght@500&display=swap');

body {
  margin: 0;
  font-family: Mukta, serif;
  /* width: 100vw; */
}

h3,
#copytext,
#speechtxt {
  display: inline;
}

#copyicon {
  position: relative;
  left: 24.96rem;
  bottom: .15rem;
  /* margin-bottom: rem; */
  font-size: 1.7rem;
  /* content: 'Copied'; */
  cursor: pointer;
  /* background-color:#0d4e88; */
}

#copytext {
  /* text-decoration: none; */
  font-weight: bold;
  position: relative;
  left: 22.5rem;
  font-size: .9rem;
  background-color: rgba(143, 173, 200, 0.7);
  /* border: 1px solid #0d4e88; */
  padding: 0rem .5rem;
  margin-top: 1rem;
  cursor: pointer;
  top: .8rem;
  border-radius: 20px;
}

#speech {
  position: relative;
  left: 25.2rem;
  bottom: .15rem;
  font-size: 1.7rem;
  cursor: pointer;
}

#speechtxt {
  font-weight: bold;
  position: relative;
  left: 22.5rem;
  font-size: .9rem;
  background-color: rgb(154, 180, 204, 0.7);
  /* border: 1px solid #0d4e88; */
  padding: 0rem .5rem;
  margin-top: 1rem;
  cursor: pointer;
  top: .8rem;
  border-radius: 20px;
}

.container {
  padding: 4px;
  margin: 0;
  width: 700px;
  background-color: rgba(12, 40, 64, 0.5);
  background-color: rgba(61, 98, 132, 0.8);
}

header {
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
  /* border-radius: 10px; */
  /* background-color: white; */
}

.txt {
  font-family: 'Mukta', sans-serif;
  margin-left: 5px;
}

img {
  width: 100px;
  height: 70px;
}

.inpt {
  justify-content: center;
  /* padding: 10px 10px; */
  padding: 10px;
  align-items: center;
  column-gap: 10px;
  display: flex;
  row-gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 10px;
}

/* input{
    border: 1px solid rgb(130, 128, 128);
    padding: 10px;
    width: 500px;
    height: 5vh;
    border-radius: 5px;
} */
#summedtxt {
  font-family: Dongle, sans-serif;
  font-size: 20px;
  /* font-size: larger; */
  line-height: 90%;
}

#summary {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  padding: 3px;
  border: 1.5px solid rgb(154, 180, 204);
  background-color: #094070;
  color: white;
  margin-left: 5px;
  font-size: large;
  /* font-weight: 549; */
}

button:hover {
  /* width: 110px; */
  background-color: #1c5587;
  /* background-color: #21caf3; */
  /* color: #0c2840; */
}

.opt {
  justify-content: center;
  padding: 10px 20px;
  height: auto;
  /* display: grid; */
  /* row-gap: 10px; */
  background-color: rgb(255, 255, 255);
  /* width: 550px; */
  border-radius: 10px;
  margin: 10px;
}

.opt>h3 {
  font-weight: bold;
}

/* logo */
.logo {
  height: 3rem;
}

.logo img {
  height: 2.7rem;
  width: 14.5rem;
  padding: 0rem 0rem;
}

header {
  background-color: #0c2840;
}

/* loading */
#lds-spinner {
  color: official;
  margin-left: 42%;
  ;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

#lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

#lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #cef;
}

#lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

#lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

#lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

#lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

#lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

#lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

#lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

#lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

#lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

#lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

#lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

#lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0rem;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #094070;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}



#shrdown,
#shrup {
  position: relative;
  ;
  top: .4rem;
  font-size: larger;
  cursor: pointer;
}

#shrr {
  position: relative;
  ;
  top: .19rem;
  /* font-size: larger; */
  cursor: pointer;
}

#shrup {
  display: none;
}

.shrmail {
  font-size: 1rem;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}


.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  /* margin-bottom: 10px; */
}

.input100 {
  font-family: Poppins;
  font-size: 14px;
  line-height: 1.5;
  color: #003767;
  display: inline;
  width: 30%;
  background: rgba(9, 64, 112, 0.1);
  height: 34px;
  border-radius: 25px;
  margin: 1rem .8rem;
  margin-bottom: .6rem;
  padding: 0 30px 0 52px;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(91, 70, 184, 0.8);
}

.input100:focus+.focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}


.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: rgba(9, 64, 112, 0.6);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #094070;
  /* padding-left: 28px; */
}

#summedtext,
#loading {
  cursor: progress;
}

#btnshr {
  font-family: Poppins;
  border: 1.5px solid rgb(154, 180, 204);
  background-color: #094070;
  color: white;
  font-size: .9rem;
  padding: .2rem .4rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 10px;
  display: inline;

}

#email {
  display: none;
}

a {
  text-decoration: none;
  color: white;

}

#alert {
  color: red;
  display: none;
  margin-left: 2rem;
  font-weight: bolder;
}