@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
body{
    margin: 0;
    /* width: 100vw; */
}
.container{
    padding: 4px;
    margin: 0;
    width: 700px;
    background-color: rgb(192, 192, 192);
}
header{
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 10px;
    /* background-color: white; */
}

.txt{
    font-family: 'Mukta', sans-serif;
    margin-left: 5px;
}

img{
    width: 100px;
    height: 70px;
}
.inpt{
    justify-content: center;
    /* padding: 10px 10px; */
    padding: 10px;
    align-items: center;
    column-gap: 10px;
    display: flex;
    row-gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 10px ;
}
/* input{
    border: 1px solid rgb(130, 128, 128);
    padding: 10px;
    width: 500px;
    height: 5vh;
    border-radius: 5px;
} */
button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid rgb(130, 128, 128);
    background-color: rgb(0, 102, 255);
    color: white;
    margin-left: 5px;
    font-size: larger;
}
button:hover{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid rgb(130, 128, 128);
    background-color: rgb(77, 146, 250);
    color: white;
}
.opt{
    justify-content: center;
    padding: 10px 20px;
    height: auto;
    /* display: grid; */
    /* row-gap: 10px; */
    background-color: rgb(255, 255, 255);
    /* width: 550px; */
    border-radius: 10px;
    margin: 10px;
}
